
input:focus{
    outline: none;
}

.left .boardTitle{
    border-bottom:rgb(179, 179, 179) 2px solid;
    width:180px;
    margin-left: 5px;
    line-height:35px;
    color:rgb(124, 124, 124);
    font-weight: bolder;
}
.left .boardFolders{
    display: flex;
}
.left .boardFolders img{
    width:20px;
}
.left .boardFolders li{
    list-style: none;
    width:300px;
    margin-left: -15px;
}
.left .boardFolders a{
    text-decoration: none;
    color:slategray;
    margin-left: 5px;
    
}
.left .boardFolders span{
    font-size: 15px;
}

.right .top{
    margin:15px;
    width:650px;
    padding-bottom: 10px;

}
.right .board_content input[name=kind]{
    width:200px;
    font-size: 20px;
    border-style: none;
}
.right .board_content input[name=addBoard]{
    float: right;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    border:1px solid rgb(189, 186, 186);
    color:rgb(117, 116, 116);
    font-size: 15px;
}
.right .board_content .middleTable{
    border-top: 2px solid rgb(140, 144, 148);
    padding-top:20px;
    margin-top: 10px;
}
.right .board_content table{
    width: 500px;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin:0 auto;
}
.right .board_content th{
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
    color:dimgrey;
}
.right .board_content td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
    color:dimgrey;
}
.right .board_content a{
    color:dimgrey;
    text-decoration-line:none;
    font-weight: bolder;
}
.right .top .board_content .middleTableAtag{
    width: 600px;
    height: 100%;
    padding:10px;
    margin-top: 15px;
}
.right .top .board_content .middleTableAtag .AtagTop{
    width: 600px;
    height: 100%;
    border-bottom: 2px solid rgb(117, 117, 117);
    padding-bottom: 10px;
}
.right .top .board_content .middleTableAtag .AtagTitle{
    width: 100px;
    height: 100%;
    display: inline;
}
.right .top .board_content .middleTableAtag .AtagTitle input[name=title]{
    width: 100px;
    height: 100%;
    display: inline;
    border:none;
    color:rgb(88, 88, 88);
    font-weight: bolder;
    font-size: 25px;
}
.right .top .board_content .middleTableAtag .AtagButton{
    
    height: 100%;
    display: inline;
    text-decoration: none;
    color: rgb(88, 88, 88);
    float: right;
}

.right .top .board_content .middleTableAtag .AtagButton button{
    background-color: white;
    border-radius: 4px;
    border:1px solid rgb(189, 186, 186);
    color:rgb(117, 116, 116);
    font-size: 15px;
}
.right .top .board_content .middleTableAtag .content .information{
    margin-top: 10px;
    border-bottom:1px solid rgb(88, 88, 88);
    padding-bottom: 20px;
}
.right .top .board_content .middleTableAtag .content .information .informationRight{
    float: right;
    margin-top: 10px;
}
.right .top .board_content .middleTableAtag .content .information input[name=name]{
    font-size: 20px;
    border: none;
    font-weight: bolder;
    color: rgb(88, 88, 88);
    margin-top:5px;
}

.right .top .board_content .middleTableAtag .content .information input[name=date]{
    text-align: right;
    border: none;
    color: rgb(88, 88, 88);
}
.right .top .board_content .middleTableAtag .content .information input[name=cnt]{
    
    border: none;
    color: rgb(88, 88, 88);
}