body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*{  margin:0;
    padding:0;}

.header_main{

    width:100%;
    height:150px;
    border:1px solid rgb(177, 177, 177);
    box-shadow: 0px 0px 6px 6px rgb(224, 224, 224);
}

.header_main_logo{
    width:39.7%;
    height:50%;
    float:left;
    text-align: right;
}

.header_main_logo img{
    width:45%; 
    height:50%; 
    margin-top:9%;

}

.header_main_logo_right{
    width:60%;
    height:80%;
    float:right;

}

.header_main_ul{
    clear:both;
    list-style: none;
   
    width:100%;
    height:19%;

}

.header_main_ul ul{
    width:90%;

    text-align: center;
    height:100%;
    align-content: center;
}

.header_main_ul ul li{
    
    
    display:inline;
    margin-left: 130px;
     
    width:15%;

}

.header_main_ul ul li a:hover{
    color:#6AA3AC;
}

.header_main_ul ul li a{
    text-decoration: none;
    font-size:17px;
    color:#505050;
    font-weight: 600;
}
