
.left #mainImg{
    width:190px;
    height: 190px;
    margin-top: 30px;
}
.left textarea{
    border: none;
    resize: none;
    background-color:transparent;
    margin-top:10px;
    margin-left:5px;
}
.left textarea:focus{
    outline: none;
}
.left #leftEdit{
    margin-left: 10px;
    border:none;
    color:white;
    background-color: #4e6bc9;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 7px;
}
.left #name{
    margin-left: 10px;
    border:none;
    background-color:transparent;
    color:rgb(35, 141, 182);
    font-weight: bolder;
    font-size: 20px;
    
}
.left #gender{
    width:18px;
    height: 20px;
}
.left #birth{
    border:none;
    background-color:transparent;
    color:rgb(70, 71, 68);
}
.left input[name=birth]:focus{
    outline: none;

}
.left #chkFriendAccept{
    margin-left: 10px;
    margin-top:9px;
    border:none;
    color:white;
    background-color: #4e6bc9;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 7px;
}
.left #friendWave{
    margin-left: 12px;
    margin-top:12px;
    background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3; 
}
  

  select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

.left #friendRandom{
    margin-left: 10px;
    margin-top:9px;
    border:none;
    color:white;
    background-color: #4e6bc9;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 7px;
} 

.rightContent{
	
    overflow:scroll;
    height:540px;
}

.right .tabHomeNew{
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.right #updateNews{
    color:dimgray;
    margin-left: 7%;
}

.right .tabHomeNew{
    border-bottom:rgb(150, 150, 150) 2px solid;
}
.right .tabHomeNew .leftul li{
    list-style: none;
}
.right .tabHomeNew .leftul li a{
    text-decoration-line: none;
    color:black;
}
.right .recentArticle ul{
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.right .tabHomeNew ul{
	display: grid;
	grid-template-columns:2fr 1fr;
}
.right .tabHomeNew #newlyButtonPhoto{
    border: mediumseagreen 1px solid;
    background-color: mediumseagreen;
    color: white;
    border-radius: 5px;
}
.right .tabHomeNew #newlyButtonVideo{
    border: rgb(60, 78, 179) 1px solid;
    background-color: rgb(60, 78, 179);
    color: white;
    border-radius: 5px;
}
.right .tabHomeNew #newlyButtonboard{
    border: rgb(189, 69, 69) 1px solid;
    background-color: rgb(189, 69, 69) ;
    color: white;
    border-radius: 5px;
}
.right .updateCategory ul{
	display: grid;
	grid-template-columns:2fr 1fr;
}
.right .updateCategory li{
    list-style: none;
}
.right .updateCategory li[class=buttonAndCategory]{
  
	display: grid;
	grid-template-columns:1fr 5fr;
}

.right .updateCategory #rightNewlyButton{
    border: rgb(214, 148, 24) 1px solid;
    background-color: rgb(214, 148, 24);
    color: white;
    border-radius: 5px;
    margin:0;
}

.right .tabHomeStoryRoom p{
    text-align:center;
    color:dimgray;
}

.right .tabHomeStoryRoom{
    margin-left:30px;
    width: 600px;
    height: 100%;
}
.right .tabHomeStoryRoom .miniroom{
    display: block;
    top:0px;
    left: 0px;
    position:relative;
}
.right .tabHomeStoryRoom .minimi{
    display: block;
    top:150px;
    left: 0px;
    position:relative;
}
.right .tabHomeStoryRoom #minimiImg{
    top:20px;
    left: 250px;
    width:90px;
position:absolute;
    z-index: 2;
}
.right .tabHomeStoryRoom #miniroomBackImg{
  width:600px;
position:absolute;
    z-index:2;
}  
.right .tabHomeStoryRoom{
  height:400px;
}  
.right .home_comment{
     width: 600px;
     height: 100%;
 } 
.right .home_comment .commentHeader{
	display:grid;
	grid-template-rows: 1fr 1fr;
	margin-left:25px;
} 
.right .home_comment .commentTitle p{
      color:rgb(89, 157, 226);
      font-weight: bolder;
      font-size:20px;
	margin-bottom:15px;
	
	
  }
 
  
.right .home_comment .commentForm {
    border-style:solid;
    border-width: 2px 2px 2px 5px; 
    
   /*  word-break: break-all; */
    border-color:rgb(89, 157, 226) ;
     display:grid;
	grid-template-columns:2fr 6fr 1fr; 
	width:600px;
	
}
.right .home_comment .commentForm p{
    text-align:center;
	vertical-align:middle;
	
}
.right .home_comment .commentForm input[name=commentInput]{
    
    border: none;
	
}
.right .home_comment .commentForm input[name=commentSubmit]{
    
    border: none;
} 
  
.right .home_comment .commentList li{
    width:90%;
    height: 40px;
    margin-top: 3%;
    list-style:none;
}
.right .home_comment .commentList li::marker{
    color:#000a13;
    font-weight:border;
}
.right .home_comment .commentList a{
    color:dodgerblue;
    text-decoration-line:none;
}
