
html{ width:100%; height:100%; overflow:hidden }

body{
    background-color: dimgray;
}
.back{
    position: relative;
}

.blueBox{
    margin-left: 70px;
    margin-top: 80px;
    width:980px;
    height: 620px; 
    background-color: rgb(179, 211, 223);
    border-radius:3%;
}

/* 오른쪽 탭 */
.rightHomeTab{
    width:120px;
    height: 170px;
    position:absolute;
    top:150px;
    left:985px;
}
.rightHomeTab .tabs{
    width: 80px;
    height: 160px;
}
.rightHomeTab .tabs li{
    border:rgb(54, 54, 54) 1px solid;
    list-style: none;
    margin-top: 2px;
    height: 38px;
    background-color: rgb(35, 141, 182);
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 2.2;
}
.rightHomeTab a{
    text-decoration-line: none;
    font-size: 14px;
    color:white;
}
.rightHomeTab ul.tabs li.active, ul.tabs li.active a:hover  {
   background: white;
   border-left: 1px solid white; 
}

/* 외곽 점선 */
.dot{
    width:950px;
    height:600px;
    border:whitesmoke 2px dotted;
    margin-left: 13px;
    margin-top:10px;
    border-radius:3%;
    position: absolute;
}

/* 내부 내용물 whiteBox */
.whiteBox{
    width: 930px;
    height: 580px;
    margin: 10px;
    background-color: white;
    border-radius:3%;
    position: absolute;
    z-index: 4;
    display: grid;
    grid-template-rows: 40px 510px;
}  

/* 상단 - 조회수 및 홈페이지 제목 */
.whiteBox .top{
    display: grid;
    grid-template-columns: 2.5fr 7.5fr;
    height: 40px;
}

.whiteBox .top > div{
	padding-top: 10px;
}

/* 하단 - 탭에 따라 변화 */
.whiteBox .bottom{
    display: grid;
    grid-template-columns: 2.5fr 7.5fr;
}
.whiteBox .bottom .left{
    border:rgb(179, 179, 179) solid 1px;
    border-radius:3%;
    box-sizing: border-box;
}

.whiteBox .bottom .left .leftContent{
    overflow: auto;
    height: 510px;
}

.whiteBox .bottom .right {
    margin-left: 5px;
    margin-right: 10px;
    border:rgb(179, 179, 179) solid 1px;
    border-radius:3%;
    box-sizing: border-box;
}

.whiteBox .bottom .right .rightContent{
	margin: 8px;
    overflow: auto;
    height: 510px;
}

.count #count_today{
    text-align: center;
    border:none;
    background-color:transparent;
    font-size:15px;
}

.mainTitle #mainTitle_content{
    border:none;
    background-color:transparent;
    font-size:20px;
    margin-left:30px;
}
.mainTitle input[name=mainTitle_content]:focus{
    outline:none;
}

.music{
    margin-right: 20px;
     width: 230px;
    height: 20px; 
    background-color: floralwhite;
    
}