.left .profileTitle{
    border-bottom:rgb(179, 179, 179) 2px solid;
    margin-left: 5%;
    line-height:200%;
    color:rgb(124, 124, 124);
    font-weight: bolder;
}


.left .profileFolders li{
    list-style: none;
    margin-left: -10%;
    width:100%;
}

.left .profileFolders li a{
    margin-left: 5px;
    color: rgb(88,88,88);
    text-decoration: none;
}