
.left .videoTitle{
    border-bottom:rgb(179, 179, 179) 2px solid;
    width:90%;
    margin-left: 5%;
    line-height:200%;
    color:rgb(124, 124, 124);
    font-weight: bolder;
}

.left .videoFolders img{
    width:10%;
}
.left .videoFolders li{
    list-style: none;
    margin-left: -15%;
}
.left .videoFolders a{
    text-decoration: none;
    color:slategray;
    margin-left: 5px;
    font-size: 15px;

}

.right .videoForm{
    width: 660px;
    height: 100%;
    border:1px solid dimgrey;
    margin:10px;
    border-radius: 5%;
}

.right .videoForm #videoTitleInput{
    width:630px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:dimgray 1px solid;
    margin-left: 11px;
    margin-top: 5px;
}
.right .videoForm input:focus{
    outline: none;
}
.right .videoForm .video{
     margin:10px 0 10px 10px;
    text-align: center;
}
.right .videoForm .videoFooter{
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.right .videoForm .videoFooter button{
    background-color: white;
    border-radius: 4px;
    border:1px solid rgb(189, 186, 186);
    color:rgb(117, 116, 116);
    font-size: 15px;
    
}
.right .videoForm .commentForm{
    border-style:solid;
    border-width: 1px 1px 1px 5px; 
    padding: 12px; 
    word-break: break-all;
    margin-left: 10px;
    color:rgb(51, 51, 51);
    width: 90%;
}
.right .comment .commentForm #commentInput{
    border: none;
    width:60%;
    height: 100%;
    font-size:15px;
    padding-left: 5px;
    outline:none;
    box-sizing: border-box;
    color:black;
}
.right .comment .commentForm #commentSubmit{
      border:none;
      background-color: white;
      font-size:1em;
      color:dimgrey;
      outline:none;
      box-sizing: border-box;
    width:10%;
    height: 100%;
}
.right .comment .commentList li{
    width:90%;
    height: 40px;
    margin-top: 3%;
}
.right .comment .commentList li::marker{
    color:dimgrey;
}
.right .comment .commentList a{
    color:dimgrey;
    text-decoration-line:none;
}