<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="DotoryDAO">
 
  	<select id="getdotoryList" resultType="dotory">
  		select * from dotory 
  	</select>
  
  	<select id="getdotory" resultType="dotory" parameterType="dotory">
  		select * from dotory where marketid=1
  	</select>
  	
  	<select id="getdotorySum" resultType="dotory" parameterType="dotory">
  		select NVL(sum(price), 0)"dotoryno" from dotory where userid=#{value} and giftstate='2'
  	</select>
  	
  	<select id="getMyDotory" resultType="int" >
		select sum(price) from dotory where userId=#{userId} and (division=1 or division=2 or division=4 or division=5)
	</select>


  
 	
</mapper>