<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="FolderDAO">
 
  	<select id="getFolderList" resultType="folder">
  		select * from folder order by folderNo desc 
  	</select>
  	
  	<insert id="insertFolder"  parameterType="folder">
  		insert into folder (ownerId,writerId,type,content)
  		values(#{ownerId},#{writerId},#{type},#{content})
  	</insert>
  	
  	<update id="updatefolder" parameterType="folder">
  		update * folder set ownerId=#{ownerId},writerId=#{writerId},type=#{type},content=#{content} 
  		where 'FolderNo'=#{FolderNo}
  	</update>
  	
  	<delete id="deletefolder" parameterType="folder">
  		delete folder where 'FolderNo'=#{FolderNo}
  	</delete>
  	
</mapper>