<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="MemberDAO">
 
  	<select id="getMemberList" resultType="member">
  		select * from member 
  	</select>
  
  	<select id="getMember" resultType="member" parameterType="int">
  		select * from member where memberNo=#{value}
  	</select>
  	
  	<select id="getPassword" resultType="member" parameterType="member">
  		select * from member where email=#{email}
  	</select>
  	
  	<select id="confirmID" resultType="member" parameterType="member">
  		select * from member where email=#{email} and password=#{password}
  	</select>
  	
  	<insert id="insertMember"  parameterType="member">
  		insert into member (seq, id,pwd,name,email,zipNum,address,phone)
  		values((select nvl(max(seq),0)+1 from member),
  	 	#{id},#{pwd},#{name},#{email},#{zipNum},#{address, jdbcType=VARCHAR},#{phone})
  	</insert>
  	
  	<update id="updateMember" parameterType="member">
  		update * member set email=#{email},zipNum=#{zipNum},address=#{address}
  		,phone=#{phone} where 'seq'=#{seq}
  	</update>
  	
  	<delete id="deleteMember" parameterType="member">
  		delete member where 'seq'=#{seq}
  	</delete>
  	
  	 <insert id="insertFriend"  parameterType="member">
  		insert into member (seq, id,pwd,name,email,zipNum,address,phone)
  		values((select nvl(max(seq),0)+1 from member),
  	 	#{id},#{pwd},#{name},#{email},#{zipNum},#{address, jdbcType=VARCHAR},#{phone})
  	</insert>
  
 	
</mapper>