<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="PhotoDAO">

  	
  <select id="getPhotoList" resultType="photo" parameterType="photo">
  		select * from photo where folder=#{folder}
  	</select>
  	<select id="getReplyList" resultType="photo" parameterType="photo">
  		select replyContent,p.photono
  		from reply r,photo p
  		where r.photoNo=p.photoNo and p.photoNo=#{photoNo}
  	</select>
 	
</mapper>