<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="UploadDAO">
 
  	<select id="getVisitorLogList" resultType="visitorLog">
  		select * from visitorlog order by visitorLogNo desc 
  	</select>
  	
  	<insert id="insertVisitorLog"  parameterType="visitorLog">
  		insert into VisitorLog (visitorLogNo,ownerId,writerId,type,content)
  		values(SEQ_VISITORLOG.NEXTVAL,#{ownerId},#{writerId},#{type},#{content})
  	</insert>
  	
  	<update id="updateVisitorLog" parameterType="visitorLog">
  		update * visitorlog set ownerId=#{ownerId},writerId=#{writerId},type=#{type},content=#{content} 
  		where 'visitorLogNo'=#{visitorLogNo}
  	</update>
  	
  	<delete id="deleteVisitorLog" parameterType="visitorLog">
  		delete visitorlog where 'visitorLogNo'=#{visitorLogNo}
  	</delete>
  	
  
 	
</mapper>