body{

    background-image: url(/img/mainimgs.png);
    background-size: cover;
    background-repeat: no-repeat;
    /*  */
    vertical-align:middle;


    background-size: cover;
    width: 1430px;
    height: 780px;
    position: relative;


}
    

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.index_login{
    margin-top: 190px;
    position: fixed;
    z-index: 1;
    width:370px;
    height: 370px;
    background-color: white;
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 100%;
    left: 540px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    box-shadow: 0px 0px 1px 1px rgb(224, 224, 224);
    text-align: center;
    opacity: 1.0;
}



.index_login_logo{
    margin-top: 40px;
    text-align: center;
    height: 70px;

    font-size: 40px;

}

.index_login_logo ul{
    margin-top: 50px;
    margin-left: -40px;
}
.index_login_logo li{
    display: inline;
}

.index_login_logo_logo1{
    width: 40px;
    height: 40px;
}
.index_login_logo_logo2{
    width: 180px;
    height: 40px;
}





.index_login_input input{
    border: 1px rgb(204, 204, 204) solid;
    width: 250px;
    height: 25px;
    padding: 10px;
    padding-left: 30px;
    border-radius: 35px;
    margin: 3px;
    box-shadow: 0px 0px 1px 1px rgb(224, 224, 224);
    outline:none;
}

.index_login_button input{
    border: none;
    width: 270px;
    height: 40px;
    border-radius: 35px;
    margin-top: 20px;
    background-color: rgb(41, 41, 41);
    color: white;
    box-shadow: 0px 0px 1px 1px rgb(224, 224, 224);
}


.index_login_link_ul{

    margin-left:-30px ;
}

.index_login_link_ul li{
    display: inline;

}
.index_login_link_ul li a{
    color:rgb(126, 126, 126);
    list-style: none;
    text-decoration: none;
    font-size: 13px;
}

/* 탱탱볼~ */

  
  #ball { 
    width: 80px;
    height: 80px;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 7px rgb(224, 224, 224);
    border-radius: 50%;
    margin: 0px auto;
    animation-name: ballKey;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }

  #ball1 { 
    width: 80px;
    height: 80px;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 7px rgb(224, 224, 224);
    border-radius: 50%;
    margin: 0px auto;
    animation-name: ballKey1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }

  #ball2 { 
    width: 80px;
    height: 80px;
    border: 1px solid black;
    box-shadow: 0px 0px 7px 7px rgb(224, 224, 224);
    border-radius: 50%;
    margin: 0px auto;
    animation-name: ballKey2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }
  
  @keyframes ballKey {
    0% { transform: translate(0px, 0px); }
    100% { transform: translate(0px, 20px); }
  }

  @keyframes ballKey1 {
    0% { transform: translate(0px, 0px); }
    100% { transform: translate(20px, 10px); }
  }

  @keyframes ballKey2 {
    0% { transform: translate(0px, 0px); }
    100% { transform: translate(5px, 30px); }
  }



.ball1{
    z-index: 1;
    position: relative;
    left: 300px;
    top: -300px;
    background-image: url(/img/p1.jpeg);
    background-size: cover;
}
.ball2{
    z-index: 1;
    position: relative;
    left: -600px;
    top: -550px;
    background-image: url(/img/p2.jpeg);
    background-size: cover;
}
.ball3{
    z-index: 1;
    position: relative;
    left: -400px;
    top: -110px;
    background-image: url(/img/logo1.jpeg);
    background-size: cover;
}
.ball4{
    z-index: 1;
    position: relative;
    left: 400px;
    top: -750px;
    background-image: url(/img/p3.png);
    background-size: cover;
}
.ball5{
    z-index: 1;
    position: relative;
    left: -400px;
    top: -550px;
    background-image: url(/img/p4.jpeg);
    background-size: cover;
}
.ball6{
    z-index: 1;
    position: relative;
    left: -100px;
    top: -250px;
    background-image: url(/img/p5.jpeg);
    background-size: cover;
}
.ball7{
    z-index: 1;
    position: relative;
    left: 500px;
    top: -850px;
    background-image: url(/img/p6.png);
    background-size: cover;
}
.ball8{
    z-index: 1;
    position: relative;
    left: -100px;
    top: -1070px;
    background-image: url(/img/p7.png);
    background-size: cover;
}
.ball9{
    z-index: 1;
    position: relative;
    left: 400px;
    top: -620px;
    background-image: url(/img/p8.png);
    background-size: cover;
}
.ball10{
    z-index: 1;
    position: relative;
    left: 200px;
    top: -620px;
    background-image: url(/img/p9.jpeg);
    background-size: cover;
}